@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Poppins:wght@500&display=swap');
.headers::before{
  content: "";
  background: url("https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat center center/cover;
  position: absolute;
  height: 12%;
  width: 100%;
  z-index: -2;
  opacity: 0.87;
  height: 500px;
  top: 0px;
  object-position: top;
  left: 0px;
}